<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="keywordsConnStr"
         connectionString="server=localhost; port=3306;
                           database=apidirect;
                           user id=root;
                           password=;
                           charset=utf8;
                         "
         providerName="MySql.Data.MySqlClient" />

  </connectionStrings>

  <appSettings>
    <add key="TorProxySrvLocation"
         value="C:\Users\Администратор\Documents\KeywordsCost New Version\tor-win32-0.3.0.9\Tor\tor.exe" />
  </appSettings>
</configuration>